*{
    box-sizing: border-box !important;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

body{
    margin: 0;
}

a{
    
    color: inherit;
    text-decoration: none
    
}

#navbar{
    
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 0;
    display: flex;
    transition: .3s;
    
}

#navbar h1{
    
    margin: auto auto auto 1.3em;
    font-family: Lato;
    flex: 1;
    color: #fff;
    font-weight: 900;
    
}

#nav_menu{
    
    display: flex;
    margin-right: 1em;
    
}

#nav_menu p{
    
    font-family: Lato;
    color: #fff;
    margin: auto .2em;
    font-weight: 700;
    border: 1px solid transparent;
    
}

#navbar div p a{
    
    padding: .5em 1em;
    display: inline-block!important;
    
}

#navbar div p:nth-child(1) a{
    
    border: 1px solid rgba(255,255,255,.2) !important;
    border-radius: .2em;
    display: inline-block !important
    
}

#navbar div p:hover{
    
    transition: .4s;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: .2em;
    background: rgba(255,255,255,.1)
    
}

#mobile-menu-overlay{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000000;
    display: none;
    justify-content: center;
    align-items: center;
    
}

#mobile-menu-overlay ul{
    padding: 0
}

#mobile-menu-overlay ul li{
    
    color: rgba(255,255,255, .7);
    list-style-type: none;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
    font-size: 2em;
    padding: .4em;
    
}

#mobile-menu-overlay ul li:nth-child(1){
    color: white
}

#mobile-menu-close{
    
    font-size: 2em;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: .8em;
    
}

#menu_icon{
    padding: 1em;
    font-size: 1.5em;
    color: rgba(255,255,255,.5);
    transition: .2s;
    display: none;
}

#main_first{
    
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#bg_video video{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: 100
}

#vid_overlay{
    
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.3), #000);
    cursor: pointer;
    z-index: 100;
    
}

#vid_overlay h1{
    
    font-family: Raleway;
    font-weight: 500;
    font-size: 5vw;
    position: absolute;
    color: rgba(255,255,255,.5);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    transition: .2s;
    
}

#vid_overlay i{
    
    font-size: .7em;
    color: rgba(255,255,255,. 5);
    transition: .2s;
    transform: translateY(-.07em)
    
}

#vid_overlay:hover i{
    
    color: rgba(255,255,255,1);
    transform: translateX(.2em) translateY(-.07em)
    
}

#vid_overlay:hover h1{
    
    color: rgba(255,255,255,1);
    
}

#ad-contianer-1{
    background-color: aqua
}

#grameenphone-ad{
    background-image: url(https://www.bangla-report.com/wp-content/uploads/2019/02/ad_2016-05-12_3_31_b.jpg);
    /*height: 30em;*/
    width: 100%;
    background-size: cover
}

#social-icons{
    
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black
    
}

#social-icons i{
    
    transition: .3s;
    font-size: 3em;
    color: rgba(255,255,255,.6);
    margin: 1em
    
}

#social-icons i:hover{
    
    color: white;
    
}

#container2{
    
    width: 100vw;
    height: 80vw;
    background-image: url("./media/homeMedia/music_big_bg.jpg");
    background-attachment: fixed;
    background-position: bottom;
    position: relative;
    
}

#container2Overlay{
    
    width: 100%;
    height: 100%;
    background-image: url(./media/homeMedia/music-copy.png);
    background-position: center;
    background-size: cover;
    
}

#container3{
    
    width: 100%;
    height: 100vh;
    background-color: #f5f6f7;
    position: relative;
    overflow: hidden;
    position: relative
    
}

#hovers_text_div h1{
    
    font-family: raleway;
    font-weight: 500;
    margin: 0;
    font-size: 5vw;
    text-align: right;
    color: #000
    
}

#hovers_text_div p{
    
    max-width: 30em;
    margin: 1em 0em 0em;
    word-wrap: break-word;
    font-size: 1.6vw;
    text-align: right;
    font-family: raleway;
    font-weight: 100;
    color: #000
    
}

#hover_img_div{
    
    bottom: -20vw;
    display: flex;
    position: absolute;
    left: 0;
    right: 0
    
}

#hover_img_div div{
    
    height: 100vh;
    width: 60vh;
    border-radius: 10px;
    box-shadow: 10px 4px 14px rgba(0, 0, 0, 0.12);
    transition: .5s;
    overflow: hidden; 
    margin-right: -13vw;
    transform: rotateX(-35deg) rotateY(-15deg) rotate(-35deg) translateX(-30em);
    cursor: pointer;
    background-position: center;
    background-size: cover;

}

#hover_img_div div:nth-child(2){
    transition-delay: .1s;
}

#hover_img_div div:nth-child(3){
    transition-delay: .2s
}

#hover_img_div div:nth-child(4){
    transition-delay: .3s
}
#hover_img_div div:nth-child(1){
    z-index: 4;
}
#hover_img_div div:nth-child(2){
    z-index: 3;
}
#hover_img_div div:nth-child(3){
    z-index: 2;
}

#hovers_text_div{
    
    position: absolute;
    right: 3em;
    top: 4em;
    color: rgba(0,0,0,.25)
    
}

#container4{
    
    width: 100%;
    margin-bottom: 5em;
    margin-top: 7em;
    
}

#people_text_holder h1{
    
    margin: 0;
    font-family: raleway;
    font-weight: 500;
    text-align: center;
    font-size: 4vw
    
}

#people_text_holder p{
    
    width: 100%;
    font-family: raleway;
    font-weight: 200;
    text-align: center;
    margin: 2em 0;
    color: #000;
    font-size: 1.4vw;
    
}

#container5{
    
    width: 100%;
    
}

.worked-with-carousel{
    
    width: 100%
    
}

.worked-with-carousel .carousel-cell{
    
    margin: 0 2em;
    height: 20vw;
    width: 20vw;
    
}

.worked-with-image{
    
    height: 20vw;
    width: 20vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}


#placeholder_container{
    
    width: 100%;
    height: 10em;
    
}

#works_header{
    
    margin-top: 1em;
    
}

#works_header h1{
    
    margin-top: 1em;
    margin: 0;
    font-family: raleway;
    font-weight: 500;
    text-align: center;
    font-size: 4vw
    
}

#works_header p{
    
    width: 100%;
    margin: 0;
    font-family: raleway;
    font-weight: 200;
    text-align: center;
    margin: 2em auto;
    font-size: 1.4vw
    
}


#container6{
    
    margin-top: 7em;
    overflow: hidden;
    
}

#container6 .carousel-cell {
    width: 46vw; /* half-width */
    height: 33vw;
    margin-left: 10px;
    background: #eee;
    border-radius: 2vw;
    text-align: center;
    counter-increment: gallery-cell;
    transition: .5s;
    opacity: .5;
    overflow: hidden
}

#container6 .carousel-cell iframe{
    
    width: 100%;
    height: 100%;
    
}

#container6 .carousel-cell.is-selected {
    
    opacity: 1
    
}

#container7{
    
    margin-top: 9em;
    margin-bottom: 10em;
    cursor: pointer;
    
}

#container7 h1{
    
    font-family: raleway;
    font-weight: 500;
    font-size: 5vw;
    margin: 0;
    text-align: center;
    transition: .2s;
    
}

#container7 i{
    
    font-size: .7em;
    transition: .2s;
    
}

#container7:hover i{
    
    color: rgba(0,0,0,.6);
    transform: translateX(.2em) 
    
}

#container7:hover h1{
    
    color: rgba(0,0,0,.6);
    
}

#container8{
    
    width: 100%;
    background-color: #161616;
    
}

#footer_stuff{
    
    height: 10em;
    background-color: #232323;
    display: flex;
    
}

#footer_stuff div{
    
    flex: 1;
    padding: 2em
    
}

#footer_stuff div p{
    
    margin: 0;
    padding: .3em;
    color: rgba(255,255,255,.7);
    font-family: Raleway;
    font-size: 1vw;
    cursor: pointer;
    
}

#footer_stuff div p:hover{
    
    color: #fff;
    
}

#bottom_bar p{
    
    margin: 0;
    text-align: center;
    padding: 1em;
    color: rgba(255,255,255,.4);
    font-family: Roboto;
    font-weight: 100;
    font-size: .9em
        
}

@media only screen and (max-width: 500px){
    
    .carousel-cell{
        width: 80vw;
        height: 60vw
    }
    
    #container7{
    
        margin-top: 5em ;
        margin-bottom: 5em;
    
    }
    
    #container7 h1{
        font-size: 1.8em
    }
    
    #works_header h1{
        
        font-size: 2em
    }
    
    #works_header p{
        
        font-size: 1.2em;
        padding-left: 2em;
        padding-right: 2em;
    }
    
    #footer_stuff{
        padding: 2em;
        flex-direction: column;
        height: auto;
    }
    
    #footer_stuff div{
        padding: 0;
        padding-bottom: 2em;
    }
    
    #footer_stuff div p{
        
        font-size: 1em
        
    }
    
    #container4{
    
        margin-bottom: 1em;
        margin-top: 4em;

    }
    
    #people_text_holder h1{
        font-size: 2em;
    }
    
    #people_text_holder p{
        margin: 1em 0;
        padding: 2em;
        padding-top: 0em;
        font-size: 1.2em;
    }
    
    #navbar h1{
        font-size: 1.5em;
        text-align: center;
        padding-left: 1.7em
    }
    
    #nav_menu{
        display: none;
    }

    #social-icons i{
        margin: .7em;
    }
    
    #menu_icon{
        color: black;
        padding: .8em;
    }
    
    #hover_img_div div:nth-child(1){
        margin-left: -4em;
    }
    
    #hover_img_div div{
        
        width: 100vw;
        height: 70vh;
        
    }
    
    #hovers_text_div{
        right: 0
    }
    
    #hovers_text_div h1{
        font-size: 2em;
        text-align: center;
    }
    
    #hovers_text_div p{
        text-align: center;
        font-size: 1.2em;
        padding: 0 2em;
        
    }
    
    #container6 .carousel-cell {
        
        width: 80vw;
        height: 60vw;
        
    }
    
    #vid_overlay h1{
        font-size: 3em;
    }
    
    #menu_icon{
        display: block;
    }
    
}



















