*{
    box-sizing: border-box !important;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

body{
    margin: 0;
}

a{
    
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    
}


#navbar{
    
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 0;
    display: flex;
    transition: .3s;
    box-shadow: 0px 0px 1em rgba(0,0,0,.1);
    background-color: #fff
    
}

#navbar h1{
    
    margin: auto auto auto 1.3em;
    font-family: Lato;
    flex: 1;
    color: #000;
    font-weight: 900;
    
}

#nav_menu{
    
    display: flex;
    margin-right: 1em;
    
}

#nav_menu p{
    
    font-family: Lato;
    color: #000;
    margin: auto .2em;
    padding: .5em 1em;
    font-weight: 700;
    border: 1px solid transparent;
    
}

#nav_menu p:nth-child(3){
    
    border: 1px solid rgba(000,000,000,.04);
    border-radius: .2em;
    
}


#mobile-menu-overlay{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000000;
    display: none;
    justify-content: center;
    align-items: center;
    
}

#mobile-menu-overlay ul li{
    
    color: rgba(255,255,255, .7);
    list-style-type: none;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
    font-size: 2em;
    padding: .4em;
    
}

#mobile-menu-overlay ul{
    padding: 0
}

#mobile-menu-overlay ul li:nth-child(3){
    color: white
}

#mobile-menu-close{
    
    font-size: 2em;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: .8em;
    
}

#menu_icon{
    padding: 1em;
    font-size: 1.5em;
    color: rgba(255,255,255,.5);
    transition: .2s;
    display: none;
}

#container1{
    
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    
}

#intro, #intro2{
    
    z-index: 2;
    margin: auto 3em;
}

#intro{
    cursor: pointer;
}

#intro h1{
    
    color: #000;
    font-family: raleway;
    font-weight: 500;
    font-size: 8vw;
    margin: 0;
    transform: translateX(-100px);
    opacity: 0;
    animation-name: introanim;
    animation: introanim 1.2s ease-out;
    animation-fill-mode: forwards;
}

#intro p{
    
    font-family: raleway;
    font-weight: 200;
    font-size: 1.5vw;
    margin: 0;
    max-width: 22.2em;
    transform: translateX(-100px);
    opacity: 0;
    animation: introanim 1.2s ease-out .4s;
    animation-fill-mode: forwards;
}

#intro h2{
    
    color: #e8e8e8;
    font-family: raleway;
    font-weight: 500;
    font-size: 2vw;
    margin: 1em 0 0 0;
    position: relative;
    transition: .2s;
    transform: translateX(-100px);
    opacity: 0;
    animation: introanim 1.2s ease-out .8s;
    animation-fill-mode: forwards;
    
}

@keyframes introanim{
    
    from{transform: translateX(-100px);
    opacity: 0;}
    to{transform: translateX(0em);
    opacity: 1;}
    
}

#intro:hover h2{
    
    color: #000;
    
}

#intro h2 i{
    
    margin-left: .3em;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: .9em
    
}

#intro_pic{
    
    width: 24em;
    height: 75vh;
    background-image: url(../media/homeMedia/music_big_bg.jpg);
    margin:auto auto 0 auto;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.33);
    transform: translateY(5.5em);
    animation-name: intro;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;
    cursor: pointer;
    
}

#intro_pic:hover{
    
    filter: brightness(.9);
    
}

@keyframes intro{
    
    from{transform: translateY(5em); opacity: 0;}
    to{transform: translateY(0em); opacity: 1;}
    
}

#container2{
    
    display: flex;
    height: 100vw;
    box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
    padding-top: 2vw;
    max-height: 100vh;
    
}

#intro2 h1{
    
    font-family: raleway;
    font-size: 3vw;
    font-weight: 500;
    text-align: right;
    margin: 0;
    
}

#intro2 p{
    
    font-family: raleway;
    font-size: 1.5vw;
    max-width: 20em;
    text-align: right;
    margin: .5em 0;
    align-self: flex-end;
    font-weight: 200;
    
}

#intro2{
    
    width: 100%;
    display: flex;
    flex-direction: column
    
}

#moving_div{
    
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    
}

#main_img{
    
    width: 36vw;
    height: 29vw;
    border-radius: 1em;
    background-image: url("https://demos.creative-tim.com/marketplace/now-ui-kit-pro/assets/img/ipad.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    
}

.anim_div{
    
    position: absolute;
    border-radius: .5em;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.05), 0 5px 5px -3px rgba(0, 0, 0, 0.05);
    background-position: center;
    background-size: cover;
    z-index: 4;
    
}

@keyframes mov1{
    
  from {transform: translate(5vw, 0px); }
  65% {transform: translate(0, 0); }
  to {transform: translate(5vw, 0px); } 
    
}
@keyframes mov2{
    
  from {transform: translate(5vw, 40px); }
  65% {transform: translate(0, 0); }
  to {transform: translate(5vw, 40px); } 
    
}

@keyframes mov3{
    
  from {transform: translate(7vw, -70px); }
  65% {transform: translate(0px, 0); }
  to {transform: translate(7vw, -70px); } 
    
}

#img1{
    
    width: 11vw;
    height: 11vw;
    top: 60%;
    left: 5%;
    background-image: url("../media/homeMedia/music_big_bg.jpg");
    animation-name: mov1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

#img2{
    
    width: 20vw;
    height: 11vw;
    left: 30%;
    top: 10%;
    background-image: url("https://www.iamexpat.nl/sites/default/files/styles/article--full/public/concerts-amsterdam_0.jpg?itok=TWszOePD");
    animation-name: mov2;
    animation-duration: 17s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

#img3{
    
    width: 18vw;
    height: 13vw;
    left: 60%;
    top: 60%;
    background-image: url("http://refugepdx.com/wp-content/uploads/2018/06/1.jpg");
    animation-name: mov3;
    animation-duration:14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

#container3{
    
    width: 100%;
    position: relative;
    background-color: dimgrey;
    background-image: url("../media/homeMedia/music_big_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    
}

#angle_div1{
    
    height: 6em;
    background-color: #fff;
    position: absolute;
    width: 200%;
    top: -5em;
    left: -3em;
    transform: rotate(-3deg);
    z-index: 1;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    
}

#container3holder{
    
    display: flex;
    flex-direction: column;
    padding-top: 20em;
    overflow: hidden;
    position: relative;
    
}

.quote{
    
    width: 60%;
    background-color: rgba(0,0,0,.3);
    padding: 1em;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    margin: auto;
    
    
}

.quote p{
    
    color: rgba(255,255,255,.5);
    margin: 0;
    font-family: Catamaran;
    font-weight: 400;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    height: 100%;
    letter-spacing: .1em;
    word-spacing: .4em
    
}

.quote p:before{
    
    content: "\201C";
    font-size: 50em;
    font-family: Catamaran;
    position: absolute;
    color: rgba(255,255,255,.2);
    margin:0;
    margin-top: .2em;
    
}


#plug_holder_holder{
    
    padding: 3em 0;
    margin-top: 4em;
    
}

#plug_holder{
    
    height: 10em;
    display: flex;
    position: relative;
    overflow: hidden;
    
}

#leftplug{
    
    width: 100%;
    height: 28px;
    background-image: url(../media/teamMedia/plug.png);
    background-repeat: no-repeat;
    transform: rotate(180deg) translateY(50%);
    position: absolute;
    left: -50%;
    margin-left: -14em;
    top: 50%;
    transition: .3s;
    
}

#rightplug{
    
    width: 100%;
    height: 28px;
    background-image: url(../media/teamMedia/plug.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: 14em;
    transform:  translateY(-50%);
    top: 50%;
    transition: .3s
    
}

#plug_holder a{
    
     margin: auto;
    z-index: 1000;
    
}

#checkout{
    
    padding: 1em 2em;
    color: #fff;
    background-color: #4286f4;
    font-family: lato;
    border-radius: .2em;
    font-size: 1.4em;
    
    cursor: pointer;
    transition: .3s
     
}

#checkout:hover{
    
    transform: scaleX(1.005)
    
}

#container5{
    
    width: 100%;
    background-color: #000;
    position: relative;
    
}

#footer_stuff{
    
    height: 10em;
    background-color: #000;
    display: flex;
    
}

#footer_stuff div{
    
    flex: 1;
    padding: 2em
    
}

#footer_stuff div p{
    
    margin: 0;
    padding: .3em;
    color: rgba(255,255,255,.7);
    font-family: Raleway;
    font-size: .8em;
    cursor: pointer;
    
}

#footer_stuff div p:hover{
    
    color: #fff;
    
}

#bottom_bar p{
    
    margin: 0;
    text-align: center;
    padding: 1em;
    color: rgba(255,255,255,.4);
    font-family: Roboto;
    font-weight: 100;
    font-size: .9em
        
}



@media only screen and (max-width: 500px){
  
    
    #footer_stuff{
        padding: 2em;
        flex-direction: column;
        height: auto;
    }
    
    #footer_stuff div{
        padding: 0;
        padding-bottom: 2em;
    }
    
    #footer_stuff div p{
        
        font-size: 1em
        
    }
    
    #navbar h1{
        font-size: 1.5em;
        text-align: center;
        padding-left: 1.7em
    }
    
    #nav_menu{
        display: none;
    }
    
    #menu_icon{
        color: black;
        padding: .8em;
    }
    
    #menu_icon{
        display: block;
    }
    
    #intro_pic{
        margin-right: -10em;
    }
    
    #intro h1{
        font-size: 4em;
    }
    
    #intro p{
        font-size: 1.1em;
    }
    
    #intro h2{
        font-size: 2em;
    }
    
    #container2{
        flex-direction: column;
    }
    
    #intro{
        margin: auto 1em auto 3em;
    }
    #intro2{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #intro2 h1{
        font-size: 2em;
    }
    #intro2 p{
        align-self: center;
        font-size: 1.2em;
        margin: 0 2em;
        text-align: center
    }
    
    #main_img{
        
        height: 56vw;
        width: 79vw
    }
    
    #img1{
        height: 20vw;
        width: 20vw;
    }
    
    #img2{
        height: 20vw;
        width: 30vw;
    }
    #img3{
        height: 20vw;
        width: 30vw;
    }
    
    #angle_div1{
        height: 10em
    }
    
}




























